{% extends 'MasterPage.html'%}
{% load static  %}


<link href="{% static 'css/extra-libs/multicheck/multicheck.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/local-search.css' %}" rel="stylesheet" type="text/css">
<!-- <link href="{% static 'css/Chart.min.css' %}" rel="stylesheet" type="text/css"> -->


{% block Container %}

<style>
    caption.btn-toolbar.bottom {
        display: inline;
    }

    div.export button {
        color: black;
        font-size: 7pt;
    }

    .form-group {
        margin-top: 5px
    }

    .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
        /* overflow: hidden; */
    }

    .filter-option-inner-inner {
        color: black;
        font-size: 7pt;
        white-space: initial;
    }
</style>


<div class="row" style="margin-top:50px"></div>
<div class="row" style="margin:20px">
    <div class="col-md-3">

        <form action="/MainSearch/" method="post">
            {% csrf_token %}
            <div class="d-flex justify-content-center">
                <div class="wrapper center-block">

                    <div class="panel-group" id="accordion11" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading1">
                                <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion" href="#collapse1" aria-expanded="false"
                                        aria-controls="collapse1"> LEMMA </a> </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse  " role="tabpanel" aria-labelledby="heading1">
                                <div class="panel-body">
                                    <div class="form-group row">
                                        <label for="lname" class="col-sm-3 text-left control-label col-form-label">Lemma
                                        </label>
                                        <div class="col-sm-4">
                                            <select id="id_LemmaSelect" class="custom-select">
                                                <option value="0" selected>Select</option>
                                                <option value="1">starts-with</option>
                                                <option value="2">includes</option>
                                                <option value="3">ends-with</option>
                                            </select>

                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" name="Lemma" class="form-control" id="id_Lemma"
                                                placeholder="Lemma">

                                        </div>

                                        <div class="col-sm-12 row " style="margin-top:10px">

                                            <div id="lemma-freq-slider" data-max="{{ maxminModel.max_norm }}"
                                                data-min="{{ maxminModel.min_norm }}"></div>
                                            <p>
                                                <label for="lemma-freq-label">freq per 1M:</label>
                                                <input type="text" id="lemma-freq-label"
                                                    style="border:0; color:#b9cd6d; font-weight:bold;">
                                                    <input type="hidden" id="id_max-lemma-freq" name="user" value="texens" />
                                                    <input type="hidden" id="id_min-lemma-freq" name="user" value="texens" />
                                            </p>

                                            <div id="lemma-absolute-slider" data-max="{{ maxminModel.max_abs }}"
                                            data-min="{{ maxminModel.min_abs }}"></div>
                                            <p>
                                                <label for="lemma-absolute-label">absolute freq:</label>
                                                <input type="text" id="lemma-absolute-label"
                                                    style="border:0; color:#b9cd6d; font-weight:bold;">
                                                    <input type="hidden" id="id_max-lemma-absolute" name="user" value="texens" />
                                                    <input type="hidden" id="id_min-lemma-absolute" name="user" value="texens" />
                                                </p>

                                            <div id="lemma-Zipf-slider" data-max="{{ maxminModel.max_lemmazipf }}"
                                            data-min="{{ maxminModel.min_lemmazipf }}"></div>
                                            <p>
                                                <label for="lemma-Zipf-label"> Zipf score:</label>
                                                <input type="text" id="lemma-Zipf-label"
                                                    style="border:0; color:#b9cd6d; font-weight:bold;">
                                                    <input type="hidden" id="id_max-lemma-Zipf" name="user" value="texens" />
                                                    <input type="hidden" id="id_min-lemma-Zipf" name="user" value="texens" />
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading1">
                            <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                                    data-parent="#accordion" href="#collapse1" aria-expanded="false"
                                    aria-controls="collapse1"> WORDFORM </a> </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse  " role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body">
                                <div class="form-group row">
                                    <label for="lname" class="col-sm-3 text-left control-label col-form-label">Wordform
                                    </label>
                                    <div class="col-sm-4">
                                        <select id="id_TargetSelect" class="custom-select">
                                            <option value="0" selected>Select</option>
                                            <option value="1">starts-with</option>
                                            <option value="2">includes</option>
                                            <option value="3">ends-with</option>
                                        </select>

                                    </div>
                                    <div class="col-sm-5">
                                        <input type="text" name="Target" class="form-control" id="id_Target"
                                            placeholder="Wordform">

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lname" class="col-sm-3 text-left control-label col-form-label">Original
                                    </label>
                                    <div class="col-sm-4">
                                        <select  id="id_OrigSelect" class="custom-select">
                                            <option value="0" selected>Select</option>
                                            <option value="1">starts-with</option>
                                            <option value="2">includes</option>
                                            <option value="3">ends-with</option>
                                        </select>

                                    </div>
                                    <div class="col-sm-5">
                                        <input type="text" name="Orig" class="form-control" id="id_Orig"
                                            placeholder="Original">

                                    </div>
                                </div>
                                <div class="col-sm-12 row ">
                                    <label style="margin-top:10px;margin-bottom:10px;">Internal structure :</label>


                                    <div id="word-phonemes-slider" data-max="{{ maxminModel.max_no_phonemes }}"
                                    data-min="{{ maxminModel.min_no_phonemes }}"></div>
                                    <p>
                                        <label for="word-phonemes-label">number of phonemes:</label>
                                        <input type="text" id="word-phonemes-label"
                                            style="border:0; color:#b9cd6d; font-weight:bold;">
                                            <input type="hidden" id="max-word-phonemes" name="user" value="texens" />
                                            <input type="hidden" id="min-word-phonemes" name="user" value="texens" />
                                    </p>

                                    <div id="word-graphemes-slider" data-max="{{ maxminModel.max_no_graphemes }}"
                                    data-min="{{ maxminModel.min_no_graphemes }}"></div>
                                    <p>
                                        <label for="word-graphemes-label">number of graphemes:</label>
                                        <input type="text" id="word-graphemes-label"
                                            style="border:0; color:#b9cd6d; font-weight:bold;">
                                            <input type="hidden" id="id_max-word-graphemes" name="user" value="texens" />
                                            <input type="hidden" id="id_min-word-graphemes" name="user" value="texens" />
                                    </p>

                                    <div id="word-syllables-slider" data-max="{{ maxminModel.max_no_syllables }}"
                                    data-min="{{ maxminModel.min_no_graphemes }}"></div>
                                    <p>
                                        <label for="word-syllables-label">number of syllables :</label>
                                        <input type="text" id="word-syllables-label"
                                            style="border:0; color:#b9cd6d; font-weight:bold;">
                                            <input type="hidden" id="id_max-word-syllables" name="user" value="texens" />
                                            <input type="hidden" id="id_min-word-syllables" name="user" value="texens" />
                                    </p>

                                    <div id="word-morphemes-slider" data-max="{{ maxminModel.max_no_morphemes }}"
                                    data-min="{{ maxminModel.min_no_morphemes }}"></div>
                                    <p>
                                        <label for="word-morphemes-label">number of morphemes :</label>
                                        <input type="text" id="word-morphemes-label"
                                            style="border:0; color:#b9cd6d; font-weight:bold;">
                                            <input type="hidden" id="id_max-word-morphemes" name="user" value="texens" />
                                            <input type="hidden" id="id_min-word-morphemes" name="user" value="texens" />
                                    </p>
                                </div>



                                <div class="form-group row">
                                    <label>Part-of-speech type :</label>
                                    <div class="checkbox"> <label> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                name="filter[]" value="12" /> <span class="ml-10">Funktion</span>
                                        </label>
                                    </div>
                                    <div class="checkbox"> <label> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                name="filter[]" value="12" /> <span class="ml-10">Lexion</span> </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lname" class="col-sm-3 text-left control-label col-form-label">Part of
                                        speech
                                    </label>
                                    <div class="col-sm-4">
                                        <select  id="id_POSSelect" class="custom-select">
                                            <option value="0" selected>Select</option>
                                            <option value="1">starts-with</option>
                                            <option value="2">includes</option>
                                            <option value="3">ends-with</option>
                                        </select>

                                    </div>
                                    <div class="col-sm-5">
                                        <input type="text" name="POS" class="form-control" id="id_POS"
                                            placeholder="POS">

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lname" class="col-sm-3 text-left control-label col-form-label">Syllable
                                        types
                                    </label>
                                    <div class="col-sm-4">
                                        <select id="id_SyllableTypeSelect" class="custom-select">
                                            <option value="0" selected>Select</option>
                                            <option value="1">starts-with</option>
                                            <option value="2">includes</option>
                                            <option value="3">ends-with</option>
                                        </select>

                                    </div>
                                    <div class="col-sm-5">
                                        <input type="text" name="SyllableType" class="form-control" id="id_SyllableType"
                                            placeholder="Syllable types">

                                    </div>
                                </div>

                                <div class="col-sm-12 row ">
                                    <label style="margin-top:10px;margin-bottom:10px;">Frequencies :</label>


                                    <div id="word-absolute-slider" data-max="{{ maxminModel.max_chl_type_abs }}"
                                    data-min="{{ maxminModel.min_chl_type_abs }}"></div>
                                    <p>
                                        <label for="word-absolute-label">absolute freq:</label>
                                        <input type="text" id="word-absolute-label"
                                            style="border:0; color:#b9cd6d; font-weight:bold;">
                                            <input type="hidden" id="id_max-word-absolute" name="user" value="texens" />
                                            <input type="hidden" id="id_min-word-absolute" name="user" value="texens" />
                                    </p>

                                    <div id="word-freq-slider" data-max="{{ maxminModel.max_chl_type_norm }}"
                                    data-min="{{ maxminModel.min_chl_type_norm }}"></div>
                                    <p>
                                        <label for="word-freq-label">freq per 1M:</label>
                                        <input type="text" id="word-freq-label"
                                            style="border:0; color:#b9cd6d; font-weight:bold;">
                                            <input type="hidden" id="id_max-word-freq" name="user" value="texens" />
                                            <input type="hidden" id="id_min-word-freq" name="user" value="texens" />
                                    </p>

                                    <div id="word-bigram-slider" data-max="{{ maxminModel.max_chl_bigram_sum }}"
                                    data-min="{{ maxminModel.min_chl_bigram_sum }}"></div>
                                    <p>
                                        <label for="word-bigram-label">summed bigram freq. :</label>
                                        <input type="text" id="word-bigram-label"
                                            style="border:0; color:#b9cd6d; font-weight:bold;">
                                            <input type="hidden" id="id_max-word-bigram" name="user" value="texens" />
                                            <input type="hidden" id="id_min-word-bigram" name="user" value="texens" />
                                    </p>

                                    <div id="word-neighbors-slider" data-max="{{ maxminModel.max_chl_nei_n }}"
                                    data-min="{{ maxminModel.min_chl_nei_n }}"></div>
                                    <p>
                                        <label for="word-neighbors-label">number of neighbors :</label>
                                        <input type="text" id="word-neighbors-label"
                                            style="border:0; color:#b9cd6d; font-weight:bold;">
                                            <input type="hidden" id="id_max-word-neighbors" name="user" value="texens" />
                                            <input type="hidden" id="id_min-word-neighbors" name="user" value="texens" />
                                    </p>

                                    <div id="word-OLD20-slider" data-max="{{ maxminModel.max_chl_nei_OLD20 }}"
                                    data-min="{{ maxminModel.min_chl_nei_OLD20 }}"></div>
                                    <p>
                                        <label for="word-OLD20-label">OLD20 :</label>
                                        <input type="text" id="word-OLD20-label"
                                            style="border:0; color:#b9cd6d; font-weight:bold;">
                                            <input type="hidden" id="id_max-word-OLD20" name="user" value="texens" />
                                            <input type="hidden" id="id_min-word-OLD20" name="user" value="texens" />
                                    </p>
                                </div>
                                <div class="form-group row">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading2">
                            <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                                    data-parent="#accordion" href="#collapse2" aria-expanded="false"
                                    aria-controls="collapse2"> ERROR </a> </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse  " role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <div class="form-group row">

                                    <label style="margin-top:10px;margin-bottom:10px;">Error Level:</label>
                                    <select class="selectpicker multi" multiple data-live-search="true">
                                        <option value="0">phonographic mapping</option>
                                        <option value="1">syllabic principles</option>
                                        <option value="2">morphological principles</option>
                                        <option value="3">morpho-syntactic principles</option>
                                        <option value="4">punctuation </option>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <!-- <label style="margin-top:10px;margin-bottom:10px;">Key orthographic feature (KOF):</label> -->
                        <div id="collapse2" class="panel-collapse  " role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <div class="form-group row">

                                    <label style="margin-top:10px;margin-bottom:10px;">KOF :</label>
                                    <select class="selectpicker multi" multiple data-live-search="true">
                                        <option value="0">grapheme combinations</option>
                                        <option value="1">marked graphemes </option>
                                        <option value="2">ie</option>
                                        <option value="3">silent schwa</option>
                                        <option value="5">double consonant spellings </option>
                                        <option value="6">other double consonants </option>
                                        <option value="7">double vowels </option>
                                        <option value="8">vowel-lengthening </option>
                                        <option value="9">syllable-separating </option>
                                        <option value="10">vocalic </option>
                                        <option value="11">final devoicing </option>
                                        <option value="12">g-spirantization </option>
                                        <option value="13">morpheme boundary </option>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div id="collapse2" class="panel-collapse  " role="tabpanel" aria-labelledby="heading2">
                            <div class="panel-body">
                                <div class="form-group row">

                                    <label style="margin-top:10px;margin-bottom:10px;">Error in KOF :</label>
                                    <select class="selectpicker multi" multiple data-live-search="true">
                                        <option value="0">grapheme combinations</option>
                                        <option value="1">marked graphemes </option>
                                        <option value="2">ie</option>
                                        <option value="3">silent schwa</option>
                                        <option value="5">double consonant spellings </option>
                                        <option value="6">other double consonants </option>
                                        <option value="7">double vowels </option>
                                        <option value="8">vowel-lengthening </option>
                                        <option value="9">syllable-separating </option>
                                        <option value="10">vocalic </option>
                                        <option value="11">final devoicing </option>
                                        <option value="12">g-spirantization </option>
                                        <option value="13">morpheme boundary </option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading3">
                            <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                                    data-parent="#accordion" href="#collapse3" aria-expanded="false"
                                    aria-controls="collapse3"> METADATA </a> </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse  " role="tabpanel" aria-labelledby="heading3">
                            <div class="panel-body">


                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">


                    <div class="col-sm-5">

                        <div class="text-left refine"> <button type="submit" name='SearchCommit' id="btnsearch"
                                class="btn btn-out btn-primary btn-square">Refine Search</button> </div>

                    </div>
                    <div class="col-sm-7">

                        <div class="alert alert-info">http://litkey.de/xkj6klsfa</div>
                    </div>
                </div>
            </div>

            <!-- {{form.as_p}}             -->
        </form>
    </div>
    <div class="col-md-9">
        <div class="row search-section  ">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Standard result
                            <a data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
                                aria-controls="multiCollapseExample1">
                                <span class="fa fa-angle-double-down collapse" style="font-size: 20px;"></span>
                            </a>
                        </div>
                        <div class="panel-body">
                            <div class="row multi-collapse in" id="multiCollapseExample1" aria-expanded="true">
                                <div class="row">

                                    <div class="col-md-12">
                                        <label style="margin-top:10px;margin-bottom:10px;"> number of :</label>
                                        <ul class="list-inline center-block justify-content-center">
                                            <li class="list-group-item"> observations :101100 </li>
                                            <li class="list-group-item">wordforms :1000 </li>
                                            <li class="list-group-item"> lemmas : 04205</li>
                                            <li class="list-group-item"> texts : 0144</li>
                                            <li class="list-group-item"> children :20142</li>
                                        </ul>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Show and/or group by
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                <span class="fa fa-angle-double-down collapse" style="font-size: 20px;"></span>
                            </a>
                        </div>
                        <div class="panel-body">
                            <div class="panel-collapse collapse in" id="collapse1" aria-expanded="true">
                                <div class="row">
                                    <div class="col-md-4">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Lemma-related variables</th>
                                                    <th>Show </th>
                                                    <th>Group by</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>lemma</td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn "
                                                            name="filter[]" value="12" checked />
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>freq per 1M</td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>absolute freq</td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" checked/>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>Zipf score</td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" checked/>
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" checked/>
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- <ul class="list-inline ">
                                            <li class="list-group-item">
                                                <p> wordform : </p>  <div class="checkbox"> <label> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                    name="filter[]" value="12" /> <span class="ml-10">Show</span> </label>
                                                </div>
                                              
                                            </li>
                                            
                                        </ul> -->

                                    </div>

                                    <div class="col-md-4">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Wordform-related variables</th>
                                                    <th>Show </th>
                                                    <th>Group by</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>wordform </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" checked/>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>original</td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>number of phonemes</td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" checked/>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>number of graphmes</td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td>number of syllables</td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>number of morphemes</td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>part-of-speech type</td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" checked/>
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>part of speech</td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>syllable types</td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>absolute freq</td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>freq per 1M</td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>summed bigram freq</td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" checked />
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12"  />
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>number of neighbors</td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>OLD20 </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>


                                    </div>
                                    <div class="col-md-4">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Error-related variables</th>
                                                    <th>Show </th>
                                                    <th>Group by</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Error level</td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" checked />
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>Key orthographic feature</td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>
                                                    <td> <input type="checkbox" class="option-input checkbox jqshowcolumn"
                                                            name="filter[]" value="12" />
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                                <button type="button" id="btnshowgroup" class="btn btn-info">Apply</button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-sm-12 col-md-12 ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Word error Structure Table
                            <a data-toggle="collapse" href="#multiCollapseExample8" role="button" aria-expanded="true"
                                aria-controls="multiCollapseExample8">
                                <span class="fa fa-angle-double-down " style="font-size: 20px;"></span>
                            </a>
                        </div>
                        <div class="panel-body">
                            <div class="row multi-collapse in" id="multiCollapseExample8" aria-expanded="true">

                                <div class="card">
                                    <div class="card-body">
                                        <div id="Wordexport" class="export"></div>
                                        <!-- <table class="table" id="zero_config"> -->
                                        <table class="table" id="Word_zero_config">
                                            <thead>
                                                <tr>
                                                    <th>Ref. Word</th>
                                                    <th>Word</th>
                                                    <th>freq</th>
                                                    <th>Count</th>
                                                    <th>Error Count</th>
                                                    <th>Percent</th>
                                                    <th>Error Level</th>
                                                    <th>Lex/func</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- {% for item in query_results %}
                                            <tr> 
                                                <td>{{ item.field1 }}</td>
                                                <td>{{ item.fieldN }}</td>
                                            </tr>
                                            {% endfor %} -->
                                                <tr>
                                                    <td>abgeschlossen</td>
                                                    <td>abgeshlossen</td>
                                                    <td>88</td>
                                                    <td>55</td>
                                                    <td>23</td>
                                                    <td>45%</td>
                                                    <td>errLevel2 </td>
                                                    <td>lex </td>
                                                </tr>
                                                <tr>
                                                    <td>abgeschlossen</td>
                                                    <td>abgeshlossen</td>
                                                    <td>55</td>
                                                    <td>51</td>
                                                    <td>21</td>
                                                    <td>90%</td>
                                                    <td>aerrLevel2 </td>
                                                    <td>lex </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>



                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-4  ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            AGGREGATED RESULTS
                            <a data-toggle="collapse" href="#multiCollapseExample8" role="button" aria-expanded="true"
                                aria-controls="multiCollapseExample8">
                                <span class="fa fa-angle-double-down " style="font-size: 20px;"></span>
                            </a>
                        </div>
                        <div class="panel-body">
                            <div class="row multi-collapse in" id="multiCollapseExample8" aria-expanded="true">

                                <div class="card">
                                    <div id="lemmaexport" class="export"></div>

                                    at the level of lemma :
                                    <table class="table" id="lemma_config">
                                        <thead>
                                            <tr>
                                                <th>Lemma </th>
                                                <th>freq1 </th>
                                                <th>freq2 </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>asdf</td>
                                                <td>9</td>
                                                <td>9</td>
                                            </tr>

                                        </tbody>
                                    </table>



                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4  ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            AGGREGATED RESULTS
                            <a data-toggle="collapse" href="#multiCollapseExample8" role="button" aria-expanded="true"
                                aria-controls="multiCollapseExample8">
                                <span class="fa fa-angle-double-down " style="font-size: 20px;"></span>
                            </a>
                        </div>
                        <div class="panel-body">
                            <div class="row multi-collapse in" id="multiCollapseExample8" aria-expanded="true">

                                <div class="card">

                                    <div id="globalexport" class="export"></div>
                                    at the level of global:

                                    <table class="table" id="global_config">
                                        <thead>
                                            <tr>
                                                <th>global </th>
                                                <th>freq1 </th>
                                                <th>freq2 </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>88</td>
                                                <td>88</td>
                                                <td>9</td>
                                            </tr>

                                        </tbody>
                                    </table>



                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4  ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            AGGREGATED RESULTS
                            <a data-toggle="collapse" href="#multiCollapseExample8" role="button" aria-expanded="true"
                                aria-controls="multiCollapseExample8">
                                <span class="fa fa-angle-double-down " style="font-size: 20px;"></span>
                            </a>
                        </div>
                        <div class="panel-body">
                            <div class="row multi-collapse in" id="multiCollapseExample8" aria-expanded="true">

                                <div class="card">
                                    <div id="textexport" class="export"></div>

                                    at the level of texts :
                                    <table class="table" id="text_config">
                                        <thead>
                                            <tr>
                                                <th>TextId </th>
                                                <th>freq1 </th>
                                                <th>freq2 </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>88</td>
                                                <td>9</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>10</td>
                                                <td>5</td>
                                            </tr>
                                        </tbody>
                                    </table>



                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
<!-- <h1>Data fetch</h1>
{% for item in model %}
    {{ item.number }}
    {{ item.geschl }}
{% endfor %} -->

<script src="{% static 'css/extra-libs/multicheck/datatable-checkbox-init.js' %}"></script>
<script src="{% static 'css/extra-libs/multicheck/jquery.multicheck.js' %}"></script>
<script src="{% static 'css/extra-libs/DataTables/datatables.min.js' %}"></script>

<!-- <script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/local-site.js' %}"></script> -->

<!-- <script>
 

</script> -->
{% endblock %}